<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  
  
  <CustomLevels>
    <CustomLevel name="VERBOSE" intLevel="50" />
  </CustomLevels>
  
  <Appenders>
  
    <Console name="Progress" target="SYSTEM_OUT">
      <PatternLayout pattern="%m%n"/>
      <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
    </Console>
 
    <Console name="Logging" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} :: %msg%n"/>
      <ThresholdFilter level="INFO" onMismatch="ACCEPT" onMatch="DENY"/>
    </Console>
    
  </Appenders>
  
  <Loggers>
  
    <Root level="error">
      <AppenderRef ref="Logging" />
    </Root>
         
    <Logger name="no.paneon.api.utils.Out" level="INFO">
      <AppenderRef ref="Progress" level="INFO" />
    </Logger>
             
  </Loggers>
</Configuration>

